<footer>
	    <div class="container">
        <div class="footer-nav">
			<ul>
				<li><a href="http://support.scrumdo.com/kb/faq/how-to-videos">Tutorial Videos</a></li>
                <li><a href="http://support.scrumdo.com/">Tech Support</a></li>
				<li><a href="http://support.scrumdo.com/">Contact Us</a></li>
                <li><a href="http://www.scrumdo.com/blog">Blog</a></li>
				<li>&nbsp;</li>
				<li><a href="https://www.scrumdo.com/about/private_server/">Self Install / Private Server</a></li>
				<li>&nbsp;</li>
                <li><a href="https://www.scrumdo.com/account/email/">Account Settings</a></li>
                <li><a href="https://www.scrumdo.com/openid/logout/?next=/account/logout/">Logout</a></li>
				<li>&nbsp;</li>
                <li><a href="https://www.scrumdo.com/about/">About Us</a></li>
                <li><a href="https://www.scrumdo.com/about/changelog/">Changelog</a></li>
                <li><a href="https://github.com/ScrumDoLLC/ScrumDoAPIV2">Developer API</a></li>
                <li><a href="https://www.scrumdo.com/about/terms/">Terms of Service</a></li>
                <li><a href="https://www.scrumdo.com/about/privacy/">Privacy Policy</a></li>
				
            </ul>
        </div>
		
		<div class="footer-nav"><ul></ul></div>
		<div class="project"><ul></ul></div>
        
        <div class="sponser .col-md-6">
            <div class="follow-us">
                <ul>
					<li>
						<a title="Follow us on Twitter" href="https://twitter.com/scrumdo"><img src="{{ site.STATIC_URL }}/images/Twitter-Buttons.png"></a> 
					</li>
					<li>
						<a title="ScrumDo Linked In Group" href="http://www.linkedin.com/groups/ScrumDo-3749739"><img src="{{ site.STATIC_URL }}/images/LinkedIn-Buttons.png"></a>
					</li>
					<li>
						<a title="How To Videos" href="http://support.scrumdo.com/kb/faq/how-to-videos"><img src="{{ site.STATIC_URL }}/images/Youtube-Buttons.png"></a>
					</li>
					<li>
						<a title="Blog RSS Feed" href="http://www.scrumdo.com/blog/atom/"><img src="{{ site.STATIC_URL }}/images/Rss-Feed-Buttons.png"></a>
					</li>
                </ul>
            </div>
            <p>ScrumDo is a registered<br/>trademark of ScrumDo, LLC.</p>
			<p>Copyright ScrumDo LLC  &copy; 2015</p>
        </div>
        <a id="toTop" href="#" class="visible-desktop">Top</a>
    </div>
	
</footer>

<div id="scrumdoModal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="scrumdoModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="scrumdoModalLabel">Modal header</h3>
    </div>
    <div class="modal-body"></div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-save btn-primary modal-save-button">Save changes</button>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
    var STATIC_URL = "{{ site.STATIC_URL }}/";
    
    
    _gaq.push(['_setAccount', 'UA-19817142-1']);
    _gaq.push(['_trackPageview']);
    _gaq.push(['_trackPageLoadTime']);
    
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();     
    
    
    var google_conversion_id = 1021662849;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;   
</script>
<!-- <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>-->
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1021662849/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
</body>
</html>